
@page "/ViewOrder"
@using Coffeeapp.Data.Models
@inject OrderItem OrderItem

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Customer Phone</th>
            <th>Item Name</th>
            <th>Item Type</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in orders)
        {
            foreach (var orderContent in order.OrderContents)
            {
                <tr>
                    <td>@order.Customerphone</td>
                    <td>@orderContent.Name</td>
                    <td>@orderContent.ItemType</td>
                    <td>@orderContent.Quantity</td>
                    <td>@orderContent.TotalPrice</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    private List<SaveModel> orders;

    protected override void OnInitialized()
    {
        //store the data obtained from the orderitems getordermethod to orders variable on initialization
        orders = OrderItem.GetOrders();
    }
}
